<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">
       
    <!-- ignore file -->
    <security:http pattern="/resources/**" security="none" />
    <security:http pattern="/login.jsp" security="none" />
    <security:http pattern="/regist.jsp" security="none" />

    <security:http use-expressions="true" auto-config="true">
        <security:intercept-url pattern="/login" access="permitAll" />
        <security:intercept-url pattern="/regist" access="permitAll" />
        <security:intercept-url pattern="/user/regist" access="permitAll" />
        <security:intercept-url pattern="/forget" access="permitAll" />
        <security:intercept-url pattern="/**" access="authenticated" />
        <security:form-login
            login-processing-url="/j_spring_security_check"
            login-page="/login"
            default-target-url="/index"
            always-use-default-target="true"
            authentication-failure-url="/login?error=1"
        />
        <security:logout 
            logout-url="/j_spring_security_logout"
            success-handler-ref="logoutSuccessLogUserHandler" 
        />
        <security:csrf disabled="true"/>
    </security:http>
    
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDetailsService">
            <security:password-encoder ref="passwordEncoder" />
        </security:authentication-provider>
    </security:authentication-manager>
    
    <!-- 實施權限控管 -->
    <bean id="permissionEvaluator" class="com.gss.mohw.web.spring.security.RolePermissionEvaluator" />

    <!-- The User Details Service Data Source. -->
    <bean id="userDetailsService"  class="com.gss.mohw.web.spring.security.UserDetailsServiceImpl" />

    <!-- The Password Encoder for AclUserDetailsService Authentication. -->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

    <!-- The PreAuthenticated Authentication Provider. -->
    <bean id="preauthAuthProvider" 
          class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
        <property name="preAuthenticatedUserDetailsService" ref="authenticationUserDetailsService" />
    </bean>
    
    <bean id="authenticationUserDetailsService" 
          class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
        <property name="userDetailsService" ref="userDetailsService" />
    </bean>
    
    <!-- Auth. Success -->
    <bean class="com.gss.mohw.api.spring.security.AuthenticationSuccessListener">
        <property name="authenticationSuccessEventHandlers">
            <list>
                <ref bean="authenticationSuccessPrepareUserHandler" />
            </list>
        </property>
    </bean>
    <bean id="authenticationSuccessPrepareUserHandler" class="com.gss.mohw.web.spring.security.AuthenticationSuccessPrepareUserHandler" />
    
    <!-- Auth. Failed -->
    <bean id="authenticationFailedLoginHandler" class="com.gss.mohw.web.spring.security.AuthenticationFailedLoginHandler" />
    
    <!-- Auth. Log out -->
    <bean id="logoutSuccessLogUserHandler" class="com.gss.mohw.web.spring.security.LogoutSuccessLogUserHandler" />
</beans>